<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
    </head>
    <body>
        <h1>Posts</h1>
        <p>this is my first website</p>

        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>


        {% for post in posts%}
           <div>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>published: {{ post.published_date }}</p>
            </div>
        {% endfor %}



    </body>
</html>
